pydantic_core==2.33.2
dm_control==1.0.31
GitPython==3.1.45
idna==3.10
urllib3==2.5.0
numpy==2.2.6
scipy==1.16.1
kiwisolver==1.4.8
gymnasium==0.29.1
grpcio==1.74.0
mujoco==3.3.4
certifi==2025.7.14
pytz==2025.2
opencv-python==4.12.0.88
joblib==1.5.1
protobuf==6.31.1
typing-inspection==0.4.1
wandb==0.21.0
platformdirs==4.3.8
attrs==25.3.0
xyzservices==2025.4.0
python-dotenv==1.1.1
pandas==2.3.1
contourpy==1.3.3
markdown-it-py==3.0.0
seaborn==0.13.2
Farama-Notifications==0.0.4
pyparsing==3.2.3
fsspec==2025.7.0
charset-normalizer==3.4.2
requests==2.32.4
typing_extensions==4.14.1
rdkit==2025.3.5
tqdm==4.67.1
matplotlib==3.10.3
torch==2.7.1
PyOpenGL==3.1.9
tzdata==2025.2
decorator==5.2.1
lxml==6.0.0
rich==14.1.0
cffi==1.17.1
narwhals==2.0.1
moviepy==2.2.1
sentry-sdk==2.34.1
sympy==1.14.0
Werkzeug==3.1.3
dm-tree==0.1.9
pip==25.0.1
absl-py==2.3.1
gitdb==4.0.12
setuptools==80.9.0
mdurl==0.1.2
networkx==3.5
python-dateutil==2.9.0.post0
mpmath==1.3.0
labmaze==1.0.6
antlr4-python3-runtime==4.9.3
tensorboard==2.20.0
plotly==6.2.0
click==8.2.1
packaging==25.0
imageio-ffmpeg==0.6.0
pycparser==2.22
cycler==0.12.1
robust-quadruped-rl==0.1.0
Jinja2==3.1.6
tornado==6.5.1
filelock==3.18.0
soundfile==0.13.1
imageio==2.37.0
pydantic==2.11.7
cloudpickle==3.1.1
Pygments==2.19.2
etils==1.13.0
wrapt==1.17.2
fonttools==4.59.0
PyYAML==6.0.2
smmap==5.0.2
pillow==11.3.0
proglog==0.1.12
tensorboard-data-server==0.7.2
stable_baselines3==2.7.0
hydra-core==1.3.2
zipp==3.23.0
annotated-types==0.7.0
dm-env==1.6
Markdown==3.8.2
omegaconf==2.3.0
six==1.17.0
importlib_resources==6.5.2
bokeh==3.7.3
glfw==2.9.0
MarkupSafe==3.0.2
robust-quadruped-rl==0.1.0
